.light {
  background: rgb(167, 141, 108);
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.dark {
  background: rgb(38, 36, 36);
  color: rgb(255, 255, 255);
  padding: 5px;
    border-radius: 5px;
}
