* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body[data-theme="light"] {
  background-color: white;
}

body[data-theme="dark"] {
  background-color: midnightblue;
}